<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fbonfadelli.continuousdeliveryworkshop"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="51a100d4acf114504d9edc957256cd32e15eb2c8" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>